*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fdf0d5;
}

h1{
    background-color: #780000;
    padding: 10px;
    margin: 0%;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    font-size: 30px;
    background-color: #0d5e8a;
    text-decoration: none;
    /*margin: 10px 0;*/
    border: 5px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

li a{
    display: block;
    text-align: center;
    padding: 10px 70px;
}

li a:hover{
    background-color: #669bbc;
}

.menu_vertical{
    margin: 80px 0;
}

.contenedor_horizontal{
    margin: auto;
}

.elementos_horizontal{
    width: 33%;
    display: inline-block;
    height: 100px;
    padding: 10px;
}

.logueo{
    background-color: #c53f21;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: end;
}

.logueo button{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

nav img{
    margin: 5px;
    float: left;
}

nav{
    background-color: #c53f21;
    width: 100%;
    clear: both;
    display: flex;
    align-items: center;
}

.navegacion{
    display: flex;
    border: #690808 solid;
    width: 100%;
    justify-content: space-around;
}

.navegacion a{
    padding: 16px 40px;
    float: left;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 100%;
    /*margin: 10px 0px;*/
    box-sizing: border-box;
}

.navegacion a:hover{
    background-color: #FC3B11;
    border: 5px solid #922d16;
    border-radius: 5px;
    padding: 11px 35px;
}

.clubes{
    width: 100%;
    margin-top: 5px;
    opacity: .5;
}

.progress-bar{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background-color: #64adfa;
}

.texto-introductorio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px 250px;
    width: auto;
}

form{
    margin: 10px;
}

fieldset{
    padding: 10px;
}

form input, select{
    width: 300px;
    height: 20px;
}

form input[type="submit"]{
    font-size: 15px;
    float: right;
    margin: 0px 100px 0px 0px;
}

form button{
    font-size: 15px;
    float: right;
    margin: 0px 100px 0px 0px;
    padding: 5px;
}

.boton_mov, .boton_mov:link, .boton_mov:visited{
    color: black;
}

.img_club{
    opacity: .2;
}

.bayern{
    background-color: #e04a29;
    padding: 0;
}

.city{
    background-color: skyblue;
    padding: 0;
}

.aleti{
    background-color: rgb(40, 113, 223);
    padding: 0;
}

.madrid{
    background-color: #fff;
    padding: 0;
}